*{
  padding: 0%;
  margin: 0%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10vh;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  max-width: 70vh;
background: linear-gradient(bisque,white);

  height: 100vh;
  padding: 0 20vh;
  

}
h1{
  padding: 30px 0;
  
}
.timer{
  height: 50px;
  font-size: xx-large;

}

button{
  border-radius:5px;
  width: 10vh;
  height: 5vh;
  margin: 0 20px;
  box-shadow: 2px 2px 0 black;

}
li{
  list-style: none;
  padding: 10px 0;
  font-size: larger;
  align-items: center;
}
li>button{
  width: 5vh;
  height: 5vh;
}
.box{
  height: 10vh;
  width: 25vh;
  font-size: xx-large;
}
.buttons{
  padding-top:10vh ;
}
.times{
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  padding: 0 30px;
  margin-bottom: 5px;
}




